	/*
  	health icon font: health
  	Creation date: 22/06/2016 15:38
  	*/
    @font-face {
        font-family: "Health";
        src: url("../fonts/health.eot");
        src: url("../fonts/health.eot?#iefix") format("embedded-opentype"),
        url("../fonts/health.woff") format("woff"),
        url("../fonts/health.ttf") format("truetype"),
        url("../fonts/health.svg#Health") format("svg");
        font-weight: normal;
        font-style: normal;
    }

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
      font-family: "Health";
    src: url("./health.svg#Health") format("svg");
  }
}

[class^="health-"]:before, [class*=" health-"]:before,
[class^="health-"]:after, [class*=" health-"]:after {
    font-family: "Health";
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.health-anesthesia:before { content: "\f100"; }
.health-antibiotic:before { content: "\f101"; }
.health-arm:before { content: "\f102"; }
.health-arm-1:before { content: "\f103"; }
.health-articulation:before { content: "\f104"; }
.health-bacteria:before { content: "\f105"; }
.health-band-aid:before { content: "\f106"; }
.health-blood-sample:before { content: "\f107"; }
.health-blood-sample-1:before { content: "\f108"; }
.health-blood-transfusion:before { content: "\f109"; }
.health-bone:before { content: "\f10a"; }
.health-braces:before { content: "\f10b"; }
.health-braces-1:before { content: "\f10c"; }
.health-braces-2:before { content: "\f10d"; }
.health-brain:before { content: "\f10e"; }
.health-brain-1:before { content: "\f10f"; }
.health-brain-2:before { content: "\f110"; }
.health-brain-3:before { content: "\f111"; }
.health-breast:before { content: "\f112"; }
.health-breast-1:before { content: "\f113"; }
.health-breast-2:before { content: "\f114"; }
.health-breast-3:before { content: "\f115"; }
.health-breast-4:before { content: "\f116"; }
.health-breast-implant:before { content: "\f117"; }
.health-canine:before { content: "\f118"; }
.health-canine-1:before { content: "\f119"; }
.health-canine-2:before { content: "\f11a"; }
.health-canine-3:before { content: "\f11b"; }
.health-cardiogram:before { content: "\f11c"; }
.health-cardiogram-1:before { content: "\f11d"; }
.health-cardiogram-2:before { content: "\f11e"; }
.health-caries:before { content: "\f11f"; }
.health-caries-1:before { content: "\f120"; }
.health-crutches:before { content: "\f121"; }
.health-dental-drill:before { content: "\f122"; }
.health-dental-floss:before { content: "\f123"; }
.health-dna:before { content: "\f124"; }
.health-dropper:before { content: "\f125"; }
.health-drugs:before { content: "\f126"; }
.health-drugs-1:before { content: "\f127"; }
.health-drugs-2:before { content: "\f128"; }
.health-drugs-3:before { content: "\f129"; }
.health-drugs-4:before { content: "\f12a"; }
.health-ear:before { content: "\f12b"; }
.health-earbuds:before { content: "\f12c"; }
.health-edema:before { content: "\f12d"; }
.health-electric-toothbrush:before { content: "\f12e"; }
.health-epidermis:before { content: "\f12f"; }
.health-extraction:before { content: "\f130"; }
.health-eye:before { content: "\f131"; }
.health-eye-1:before { content: "\f132"; }
.health-eye-drops:before { content: "\f133"; }
.health-eye-drops-1:before { content: "\f134"; }
.health-fat:before { content: "\f135"; }
.health-femur:before { content: "\f136"; }
.health-finger:before { content: "\f137"; }
.health-finger-1:before { content: "\f138"; }
.health-finger-2:before { content: "\f139"; }
.health-first-aid-kit:before { content: "\f13a"; }
.health-fit:before { content: "\f13b"; }
.health-gum:before { content: "\f13c"; }
.health-gum-1:before { content: "\f13d"; }
.health-hammer:before { content: "\f13e"; }
.health-heart:before { content: "\f13f"; }
.health-implants:before { content: "\f140"; }
.health-implants-1:before { content: "\f141"; }
.health-implants-2:before { content: "\f142"; }
.health-implants-3:before { content: "\f143"; }
.health-implants-4:before { content: "\f144"; }
.health-inhalator:before { content: "\f145"; }
.health-intestines:before { content: "\f146"; }
.health-iris:before { content: "\f147"; }
.health-kidney:before { content: "\f148"; }
.health-kidney-1:before { content: "\f149"; }
.health-knee:before { content: "\f14a"; }
.health-knee-1:before { content: "\f14b"; }
.health-kneecap:before { content: "\f14c"; }
.health-liver:before { content: "\f14d"; }
.health-lozenge:before { content: "\f14e"; }
.health-lungs:before { content: "\f14f"; }
.health-lungs-1:before { content: "\f150"; }
.health-lungs-2:before { content: "\f151"; }
.health-medical-records:before { content: "\f152"; }
.health-medicine:before { content: "\f153"; }
.health-medicine-1:before { content: "\f154"; }
.health-microbe:before { content: "\f155"; }
.health-mirror:before { content: "\f156"; }
.health-molar:before { content: "\f157"; }
.health-molar-1:before { content: "\f158"; }
.health-molar-2:before { content: "\f159"; }
.health-molar-3:before { content: "\f15a"; }
.health-molar-4:before { content: "\f15b"; }
.health-molar-5:before { content: "\f15c"; }
.health-molar-6:before { content: "\f15d"; }
.health-molar-7:before { content: "\f15e"; }
.health-molar-8:before { content: "\f15f"; }
.health-molar-crown:before { content: "\f160"; }
.health-nose:before { content: "\f161"; }
.health-notepad:before { content: "\f162"; }
.health-ointment:before { content: "\f163"; }
.health-ointment-1:before { content: "\f164"; }
.health-optical:before { content: "\f165"; }
.health-otoscope:before { content: "\f166"; }
.health-pancreas:before { content: "\f167"; }
.health-penis:before { content: "\f168"; }
.health-perfusion:before { content: "\f169"; }
.health-periodontal-scaler:before { content: "\f16a"; }
.health-periodontal-scaler-1:before { content: "\f16b"; }
.health-periodontal-scaler-2:before { content: "\f16c"; }
.health-pill:before { content: "\f16d"; }
.health-pill-1:before { content: "\f16e"; }
.health-pills:before { content: "\f16f"; }
.health-pills-1:before { content: "\f170"; }
.health-pills-2:before { content: "\f171"; }
.health-pills-3:before { content: "\f172"; }
.health-pills-4:before { content: "\f173"; }
.health-plastered-foot:before { content: "\f174"; }
.health-plastered-foot-1:before { content: "\f175"; }
.health-premolar:before { content: "\f176"; }
.health-premolar-1:before { content: "\f177"; }
.health-premolar-2:before { content: "\f178"; }
.health-records:before { content: "\f179"; }
.health-records-1:before { content: "\f17a"; }
.health-records-2:before { content: "\f17b"; }
.health-ribbon:before { content: "\f17c"; }
.health-scalpel:before { content: "\f17d"; }
.health-scissors:before { content: "\f17e"; }
.health-skeleton:before { content: "\f17f"; }
.health-skull:before { content: "\f180"; }
.health-skull-1:before { content: "\f181"; }
.health-spinal-column:before { content: "\f182"; }
.health-stethoscope:before { content: "\f183"; }
.health-stomach:before { content: "\f184"; }
.health-stomach-1:before { content: "\f185"; }
.health-syringe:before { content: "\f186"; }
.health-syringe-1:before { content: "\f187"; }
.health-syringe-2:before { content: "\f188"; }
.health-syringe-3:before { content: "\f189"; }
.health-syringe-4:before { content: "\f18a"; }
.health-tablets:before { content: "\f18b"; }
.health-teeth:before { content: "\f18c"; }
.health-teeth-1:before { content: "\f18d"; }
.health-teeth-10:before { content: "\f18e"; }
.health-teeth-2:before { content: "\f18f"; }
.health-teeth-3:before { content: "\f190"; }
.health-teeth-4:before { content: "\f191"; }
.health-teeth-5:before { content: "\f192"; }
.health-teeth-6:before { content: "\f193"; }
.health-teeth-7:before { content: "\f194"; }
.health-teeth-8:before { content: "\f195"; }
.health-teeth-9:before { content: "\f196"; }
.health-thermometer:before { content: "\f197"; }
.health-thermometer-1:before { content: "\f198"; }
.health-thin:before { content: "\f199"; }
.health-tonsils-tester:before { content: "\f19a"; }
.health-tooth:before { content: "\f19b"; }
.health-tooth-1:before { content: "\f19c"; }
.health-tooth-2:before { content: "\f19d"; }
.health-tooth-brush:before { content: "\f19e"; }
.health-tooth-pliers:before { content: "\f19f"; }
.health-tweezers:before { content: "\f1a0"; }
.health-tweezers-1:before { content: "\f1a1"; }
.health-uterus:before { content: "\f1a2"; }
.health-vagina:before { content: "\f1a3"; }
.health-vagina-1:before { content: "\f1a4"; }
.health-virus:before { content: "\f1a5"; }
.health-wheelchair:before { content: "\f1a6"; }
.health-x-ray:before { content: "\f1a7"; }
.health-x-ray-1:before { content: "\f1a8"; }
.health-x-ray-2:before { content: "\f1a9"; }