/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}

.section-padding {
  padding: 80px 0;
}
.single-pricing-box {
  border: 1px solid #f4f7fa;
  border-radius: 4px;
  margin-bottom: 50px;
  text-align: center;
  padding: 50px;
  transition: .3s;
}
body {
  font-size: 16px;
  line-height: 1.8;
  color: #6c7b8a;
}
a {
  color: #0099F0;
}
.pricing-amount {
  font-size: 60px;
  color: #0099F0;
  font-weight: 300;
  line-height: 70px;
  margin-bottom: 0;
}
.pricing-box-content {
  padding-top: 30px;
  border-top: 1px solid #F1F6F8;
  margin-top: 30px;
}
.pricing-box-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pricing-box-content li {
  padding-bottom: 15px;
  line-height: 1.4;
}
.boxed-btn {
  background: #0099F0;
  color: #fff;
  padding: 15px 50px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
  transition: .3s;
  border: 3px solid #fff;
}
.single-pricing-box h4 {
  margin-bottom: 40px;
  font-size: 20px;
}
.single-pricing-box h4 span {
  display: block;
  color: #8EBA6F;
  font-size: 80%;
  margin-top: 10px;
}
.single-pricing-box.active h4 {
  margin-top: -10px;
  margin-bottom: 20px;
}
.single-pricing-box.active {
  position: relative;
  z-index: 1;
  border-radius: 0 0 5px 5px;
}
.single-pricing-box.active:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 3px;
  width: 100%;
  background: #8EBA6F;
  content: "";
}
.single-pricing-box:hover {
  box-shadow: 0 0 40px #f2f5f6;
}
.boxed-btn:hover {
  background: #fff;
  color: #0099F0;
  border: 3px solid;
}