/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.section-padding{
    padding:80px 0;
}

.service-list {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.single-service-box {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 7%;
    text-align: center;
    font-size: 16px;
    line-height: 2;
    transition: 0.3s;
}
.service-list .col-md-4 {
    padding: 0;
}
.service-list .row {
    margin: 0;
}
.single-service-box h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}
.service-icon {
    color: #E2E2E2;
    font-size: 30px;
    transition: .3s;
}
.single-service-box:hover .service-icon{
    color: #D01F1C;
}
.single-service-box:hover {
    box-shadow: 0 30px 100px #999;
}