/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700,700i,900,900i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Roboto', sans-serif;
}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.team-bg{background-image: url(../img/01.jpg);}
.team-bg-2{background-image: url(../img/02.jpg);}
.team-bg-3{background-image: url(../img/03.jpg);}
.section-padding{padding: 80px 0;}
.section-title {
	position: relative;
	text-transform: uppercase;
	text-align: right;
	font-size: 40px;
	font-weight: 700;
	transform: rotate(270deg);
	margin-top: 127px;
	width: 300px;
	margin-left: -60px;
}
.section-title:before {
  position: absolute;
  right: 0;
  height: 2px;
  width: 70%;
  content: "";
  background: #000;
  top: -30px;
}
.team-bg {
  height: 270px;
  background-size: cover;
  background-position: center top;
  margin-bottom: 50px;
}
.bordered-content {
  border: 2px solid #A0A0A0;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
    padding-bottom: 20px;
    color: #A0A0A0;
}
.bordered-content h3 {
	font-size: 20px;
	background: #fff;
	display: inline-block;
	padding: 0 10px;
	margin-bottom: 5px;
    color: #333;
}
.team-title {
	margin-top: -12px;
}
.col-md-4:nth-child(2) .single-team-mamber{
    margin-top: 100px;
}