	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/05/2017 11:41
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-dentist:before { content: "\f100"; }
.flaticon-002-psychiatry:before { content: "\f101"; }
.flaticon-003-dermathology:before { content: "\f102"; }
.flaticon-004-orthopedics:before { content: "\f103"; }
.flaticon-005-ophtalmology:before { content: "\f104"; }
.flaticon-006-x-rays:before { content: "\f105"; }
.flaticon-007-lungs:before { content: "\f106"; }
.flaticon-008-neurology:before { content: "\f107"; }
.flaticon-009-cardiology:before { content: "\f108"; }
.flaticon-010-dna:before { content: "\f109"; }
.flaticon-011-stretcher:before { content: "\f10a"; }
.flaticon-012-scalpel:before { content: "\f10b"; }
.flaticon-013-crutch:before { content: "\f10c"; }
.flaticon-014-oxygen-tank:before { content: "\f10d"; }
.flaticon-015-wheelchair:before { content: "\f10e"; }
.flaticon-016-stethoscope:before { content: "\f10f"; }
.flaticon-017-sphygmomanometer:before { content: "\f110"; }
.flaticon-018-blood-bag:before { content: "\f111"; }
.flaticon-019-serum:before { content: "\f112"; }
.flaticon-020-flask:before { content: "\f113"; }
.flaticon-021-test-tube:before { content: "\f114"; }
.flaticon-022-microscope:before { content: "\f115"; }
.flaticon-023-syringe:before { content: "\f116"; }
.flaticon-024-bandage:before { content: "\f117"; }
.flaticon-025-first-aid-kit:before { content: "\f118"; }
.flaticon-026-syrup:before { content: "\f119"; }
.flaticon-027-pills:before { content: "\f11a"; }
.flaticon-028-medicine-1:before { content: "\f11b"; }
.flaticon-029-mortar:before { content: "\f11c"; }
.flaticon-030-calendar:before { content: "\f11d"; }
.flaticon-031-medical-history:before { content: "\f11e"; }
.flaticon-032-report:before { content: "\f11f"; }
.flaticon-033-ambulance:before { content: "\f120"; }
.flaticon-034-hospital-1:before { content: "\f121"; }
.flaticon-035-heart:before { content: "\f122"; }
.flaticon-036-placeholder:before { content: "\f123"; }
.flaticon-037-ribbon:before { content: "\f124"; }
.flaticon-038-biohazard:before { content: "\f125"; }
.flaticon-039-medicine:before { content: "\f126"; }
.flaticon-040-hospital:before { content: "\f127"; }
.flaticon-041-patient-1:before { content: "\f128"; }
.flaticon-042-patient:before { content: "\f129"; }
.flaticon-043-paramedic-1:before { content: "\f12a"; }
.flaticon-044-paramedic:before { content: "\f12b"; }
.flaticon-045-nurse-1:before { content: "\f12c"; }
.flaticon-046-nurse:before { content: "\f12d"; }
.flaticon-047-doctor-3:before { content: "\f12e"; }
.flaticon-048-doctor-2:before { content: "\f12f"; }
.flaticon-049-doctor-1:before { content: "\f130"; }
.flaticon-050-doctor:before { content: "\f131"; }