/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
  background-color: #f5f6fa;
}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}

.promo-boxes-wrap {
  margin-left: -15px;
  overflow: hidden;
}
.single-promo-box {
  height: 350px;
  width: 50%;
  float: left;
  display: table;
  text-align: center;
}
.promo-box-tablecell {
  display: table-cell;
  vertical-align: middle;
}
.single-promo-box:nth-child(2) {
  background: #D88A92;
}
.single-promo-box:nth-child(3) {
  background: #71B1CC;
}

.promo-icon:before {
  font-size: 70px;
}
.boxed-btn {
  background: #71B1CC;
  padding: 15px 40px;
  color: #fff;
  border-radius: 50px;
  display: inline-block;
}
.single-promo-box h2 {
  position: relative;
  font-size: 28px;
  z-index: 1;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
.single-promo-box h2:after {
  position: absolute;
  left: 50%;
  height: 2px;
  width: 50px;
  background: #D88A92;
  content: "";
  margin-left: -25px;
  bottom: 0;
}
.single-promo-box .boxed-btn {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.promo-box-tablecell {
  padding-top: 70px;
  transition: .3s;
}
.single-promo-box:hover .promo-box-tablecell {
  padding-top: 0;
}
.single-promo-box:hover .boxed-btn {
  opacity: 1;
  visibility: visible;
}
.promo-icon {
  margin-top: -18px;
  display: inline-block;
}
.single-promo-box:nth-child(2), .single-promo-box:nth-child(3) {
  color: #fff;
}
.single-promo-box:nth-child(2) h2::after, .single-promo-box:nth-child(3) h2::after {
  background: #fff;
}
.single-promo-box:nth-child(4) h2:after {
  background: #71B1CC;
}
.single-promo-box:nth-child(4) .promo-icon {
  color: #71B1CC;
}
.single-promo-box:nth-child(2) .boxed-btn, .single-promo-box:nth-child(3) .boxed-btn {
  background: #fff;
  color: #333;
}
.single-promo-box:nth-child(1) .boxed-btn {
  background: #D88A92;
}
.single-promo-box:nth-child(1) .promo-icon {
  color: #D88A92;
}

.right-side-content {
  padding: 140px 50px;
}
.section-title h3 {
  color: #71B1CC;
  text-align: ;
  font-style: italic;
  line-height: 0;
}
.section-title h2 {
  font-weight: 900;
  margin-bottom: 40px;
}
.right-side-content h4 {
  font-weight: 400;
  line-height: 1.6;
  font-size: 20px;
}
.right-side-content p {
  font-size: 15px;
  line-height: 1.7;
}
.section-btns .boxed-btn {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  display: inline-block;
  margin-right: 20px;
}
.borderes-btn {
  text-transform: uppercase;
}
.bordered-btn {
  text-transform: uppercase;
  border: 2px solid #71B1CC;
  padding: 15px 40px;
  border-radius: 50px;
  font-weight: 700;
  color: #71B1CC;
}
.section-btns {
  margin-top: 45px;
}