/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
  color: #565;
  font-size: 15px;
  line-height: 1.7;
}
a:hover { text-decoration: none }



.section-padding {
  padding: 80px 0;
}
.section-title {
  margin-bottom: 80px;
  text-align: center;
}
.single-feature-item {
  margin-bottom: 40px;
}

.bordered-img {
  height: 120px;
  width: 100%;
  background-image: url(../img/02.jpg);
  position: relative;
  border: 1px solid #fff;
}
.bordered-img:after {
  position: absolute;
  width: 100%;
  height: 100%;
  right: -6px;
  border: ;
  border: ;
  bottom: -6px;
  background: #68AC08;
  content: "";
  z-index: -1;
}
.single-feature-item h3 {
  border-bottom: 1px dashed#68AC08;
  padding-bottom: 18px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}
.big-featured-bored-img {
  width: 100%;
  height: 450px;
  background-image: url(../img/01.jpg);
  background-color: #ddd;
  position: relative;
}
.big-featured-bored-img:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #333;
  width: 100%;
  height: 100%;
  opacity: .5;
}
.big-featured-bored-img:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 10px;
  left: -10px;
  background: #68AC08;
  z-index: -1;
}

.section-borders span {
    background: #6aaf08 none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    width: 50px;
}
.section-borders span.border-black {
    background: #333 none repeat scroll 0 0;
    margin: 0 10px;
    width: 30px;
}