/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.project-bg-1{background-image: url(../img/01.jpg);}
.project-bg-2{background-image: url(../img/02.jpg)}
.project-bg-3{background-image: url(../img/03.jpg)}
.project-bg-4{background-image: url(../img/04.jpg)}
.project-bg-5{background-image: url(../img/05.jpg)}
.project-bg-6{background-image: url(../img/06.jpg)}
.project-bg-7{background-image: url(../img/07.jpg)}
.project-bg-8{background-image: url(../img/08.jpg)}
.project-bg-9{background-image: url(../img/01.jpg)}

.section-padding {
  padding: 80px 0;
}
.project-title {
  margin: 0 0 50px;
  padding: 0;
  list-style: none;
}
.project-title li {
  display: inline-block;
  padding-right: 20px;
  cursor: pointer;
}
.single-project-item a, .single-project-item span {
  color: #00DDD6;
}
.single-project-item {
  height: 320px;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
}
.row.projects-lists .col-md-4 {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.row.projects-lists {
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.project-hover{position: relative;height:100%;width: 100%;z-index: 2;opacity: 0;transition: .3s;}
.project-hover:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  border: ;
  background: #000;
  z-index: 1;
  opacity: .6;
}
.project-hover a {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 20px;
  z-index: 2;
}
.project-hover h4 {
  font-weight: 400;
  color: #fff;
  position: absolute;
  left: 30px;
  bottom: 30px;
z-index: 2;
}
.project-hover h4 span {
  display: block;
  font-size: 80%;
  margin-top: 10px;
}
.single-project-item:hover .project-hover {
  opacity: 1;
}
.row.projects-lists .col-md-4:nth-child(2) .single-project-item,
.row.projects-lists .col-md-4:nth-child(4) .single-project-item,
.row.projects-lists .col-md-4:nth-child(6) .single-project-item
{height:653px;}