/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Mr+De+Haviland|Roboto:300,400,500,700');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid; }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
  font-family: 'Roboto', sans-serif;
}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.hero-area-logo h3{
  font-family: 'Mr De Haviland', cursive;
}
.welcome-hero-area{
  background-image: url(../img/bg.jpg);
}

body, html {
  height: 100%;
}
.welcome-hero-area {
  height: 100%;
  position: relative;
  z-index: 1;
}
.header-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 10px 0;
}
.mainmenu ul {
  margin: 0;
  padding: 0;
}
.mainmenu li {
  display: inline-block;
  text-transform: uppercase;
  padding-left: 30px;
}
.mainmenu li a {
  color: #fff;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-size: 18px;
  text-decoration: none;
  transition: .7s;
}
.mainmenu li a:hover:after {
  position: absolute;
  left: 0;
  border: ;
  bottom: 0;
  height: 1px;
  width: 100%;
  content: "";
  background: #fff;
}
.mainmenu {
  margin-top: 20px;
}

.welcome-hero-area:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #000;
  opacity: .3;
}
.hero-area-table {
  height: 100%;
  display: table;
  width: 100%;
}
.hero-area-tablecell {
  display: table-cell;
  vertical-align: middle;
}
.scroll-top-about {
  position: absolute;
  left: 50%;
  bottom: 30px;
  color: #fff;
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  opacity: .7;
}
.hero-area-logo{
    position: relative;
    z-index: 9;
}
.hero-area-logo h3 {
  color: #C89B65;
  font-size: 100px;
  line-height: 55px;
}
.hero-area-logo h2 {
  color: #fff;
  font-size: 50px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.bordered-area {
  overflow: hidden;
  max-width: 335px;
  margin: 0 auto;
}
.bordered-area-left-border, .bordered-area-right-border {
  float: left;
  height: 2px;
  width: 41%;
  background: #fff;
  margin-top: 9px;
}
.bordered-area-left-border{ position: relative;}
.bordered-area-right-border{position: relative;}
.bordered-area-left-border:before{
    position: absolute;
    left: 0;
    content: "";
    width: 0;
	height: 0;
	border-top: 7px solid transparent;
    border-left: 15px solid #fff;
    border-bottom: 7px solid transparent;
    top: -6px;
}
.bordered-area-right-border:after{
    position: absolute;
    right: 0;
    content: "";
    width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 15px solid #fff;
	border-bottom: 7px solid transparent;
    top: -6px;
}
.bordered-area i {
  float: left;
  margin: 0 20px;
  color: #8C6C47;
  font-size: 20px;
}
.hero-area-logo p {
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
}