/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
.header-area{
	position:absolute;
	left:0;
	right:0;
	padding:15px 0;
	width:100%;
	z-index:9;
}
.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.main-menu li {
  display: inline-block;
}
.main-menu li a {
  display: block;
  padding: 15px;
  color:#fff;
  padding-left:40px;
  padding-right: 0;
  font-size: 16px;
}
.main-menu li a:hover{
	color:#F9C32D;
}
.homepage-slides {
  position:relative;
  font-size: 16px;
  line-height: 28px;
  background: #263238;
  color: #fff;
  overflow:hidden;
}
.single-slide-item{
	position:relative;
}
.single-slide-item h2 {
  color: #E6AD21;
  line-height: 56px;
  font-size: 45px;
  font-weight: 300;
}
.single-txt-img img {
  position: absolute;
  right: 15px;
  bottom: 0;
  max-height: 560px;
}
.slide-text{
  padding-top: 220px;
  padding-bottom: 170px;
}
.bordered-btn{
	border:1px solid #fff;
	color:#fff;
	padding:15px 20px;
	display:inline-block;
	border-radius:5px;
	margin-top:15px;
}