/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.welcome-area{background: url(../img/bg2.jpg);}
.welcome-area{
    background-position: center top;
    background-size: cover;
}

.section-padding {
  padding: 100px 0;
}
body {
  font-size: 18px;
  line-height: 1.5;
}
.tab-list {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}
.main-menu li {
  display: inline-block;
  position: relative;
}
.main-menu  li a {
  display: block;
  padding: 10px 40px;
  color: #fff;
  height: 150px;
  font-size: 20px;  
  padding-top: 80px;
}
.main-menu li a span{display: block;}
.main-menu li.active a {
  color: #FC103C;
}
.main-menu  li.active::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  content: "";
  z-index: 2;
  background: #FC103E;
}

.main-menu li:nth-child(1) a {background: #0F174C;}
.main-menu li:nth-child(2) a {background: #E69487;}
.main-menu li:nth-child(3) a {background: #FE6862;}
.main-menu li:nth-child(4) a {background: #452B50;}
.main-menu li:nth-child(5) a {background: #CB4351;}