/* Base CSS */
/* DAY 02 CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#222;
}
h2 {
    color: #222;
    font-size: 32px;
}
body {
	font-family: 'Lato', sans-serif;
}
a:hover { text-decoration: none }
.section-padding{
	padding:80px ;
}

.quote-from-wrap img {
    display: block;
    margin: 0 auto;
}
.blue-quote-form {
    background: #1dacff none repeat scroll 0 0;
    margin-top: -84px;
    max-width: 770px;
    padding: 35px 100px 50px;
	padding-top:35px;
}
.blue-quote-form h3 {
    color: #fff;
    font-size: 26px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
	text-transform:uppercase;
	margin-top:0;
}
.blue-quote-form h3::before {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -65px;
    position: absolute;
    width: 130px;
}
.blue-quote-form h3::after {
    background: #1dacff none repeat scroll 0 0;
    border: 2px solid #ffffff;
    border-radius: 50%;
    bottom: -6.5px;
    content: "";
    height: 13px;
    left: 50%;
    position: absolute;
    width: 13px;
}
.blue-quote-form input, .blue-quote-form textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.blue-quote-form input, .blue-quote-form textarea {
    border-bottom: 2px solid #88d3ff;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}
.blue-quote-form textarea {
    height: 100px;
}
.blue-form-submit {
    margin-top: 20px;
    text-align: center;
}
.blue-form-submit button[type="submit"] {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #1dacff;
    padding: 10px;
    text-transform: uppercase;
}

