/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html, body, fullheight { max-height: 100%; width: 100% }
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.section-bg-1{background-image: url(../img/03.jpg);}
.section-bg-2{background-image: url(../img/01.jpg);}
.section-bg-3{background-image: url(../img/02.png);}

.section-padding.full-height {
  height: 100%;
}

.sectiob-table {
  display: table;
  height: 100%;
  width: 100%;
}
.section-tablecell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.section-padding {
  padding: 80px 0;
}
.section-padding.full-height {
  padding: 0;
}

.overlay {
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}
.overlay:after, .single-service-item:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  opacity: .6;
}
.single-service-item {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 30px;
  text-align: center;
}
.single-service-item a {
  color: #fff;
}
body {
  font-size: 15px;
  line-height: 1.8;
}
.single-service-item h2 {
  font-size: 25px;
}
.service-icon {
  font-size: 100px;
  line-height: 120px;
}
.video-play-box {
  text-align: center;
  color: #fff;
  transition: .3s;
}
.video-btn {
  display: inline-block;
  height: 100px;
  width: 100px;
  background: #fff;
  color: #333;
  line-height: 100px;
  border-radius: 50%;
  font-size: 20px;
}