/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.single-slide-item{background-image: url(../img/01.jpg);}
.single-slide-item.slide-2{background-image: url(../img/02.jpg)}

.logo img {
  max-width: 100px;
  left: 0;
  top: 0;
  position: absolute;
}
.logo a {
  color: #333;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  padding-left: 110px;
  padding-top: 15px;
}
.logo span {
  display: block;
  font-size: 80%;
  font-style: italic;
  font-weight: 400;
}
.right-content-box {
  font-size: 20px;
  position: relative;
  display: inline-block;
  text-align: left;
  padding-left: 30px;
  margin-left: 40px;
    margin-top: 15px;
}
.right-content-box i.fa {
  position: absolute;
  left: ;
  left: 0;
  top: 2px;
  font-size: 30px;
}

.right-content-box a {
  color: #333;
}
.header-area {
  padding: 25px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}
.single-slide-item {
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: #ddd;
}
.slide-text {
  position: relative;
  z-index: 1;
  padding-left: 75px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 60px;
}
.slide-text:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #fff;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: -1;
}
.slide-text h2 {
  font-size: 50px;
  margin-bottom: 40px;
}
.boxed-btn {
  background: #F37D01;
  color: #fff;
  padding: 12px 20px;
  display: inline-block;
  border-radius: 3px;
}
.slide-text .boxed-btn {
  margin-top: 30px;
}

.home-page-slides .owl-nav div {
  position: absolute;
  top: 50%;
  left: 50px;
  font-size: 50px;
  line-height: 60px;
  margin-top: -30px;
  opacity: 0;
  transition: .3s;
}
.home-page-slides .owl-nav div.owl-next {
  left: auto;
  right: 50px;
}
.home-page-slides:hover .owl-nav div {
  opacity: .5;
}
.home-page-slides .owl-dots div {
  display: inline-block;
  height: 15px;
  width: 15px;
  background: #fff;
  margin: 5px;
  border-radius: 50%;
}
.home-page-slides .owl-dots div.active {
  background: #F37D01;
}
.home-page-slides .owl-dots {
  position: absolute;
  left: 0;
  bottom: 25px;
  text-align: center;
  width: 100%;
}