/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.section-padding{
    padding: 80px 0;
}
#googleMap{
    width: 100%;
    height: 500px;
}

.section-padding.map-bg {
    background: #32394D;
    color: #fff;
    padding-bottom: 0;
    margin-bottom: 110px;
}
.section-title {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 80px;
}
.section-desc {
    font-size: 110%;
    line-height: 2.1;
    margin-top: 5px;
    color: #DDDDDD;
}
.section-desc p:last-child {
    margin-bottom: 0;
}
/**/

.section-desc strong {
    color: #fff;
}
.location-direction {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 50px;
}
.location-direction h3 {
    color: #D3943B;
    font-size: 40px;
    font-weight: 400;
}
.location-direction h3 span {
    font-size: 25px;
}
.location-direction p {
    opacity: .5;
    text-transform: uppercase;
    font-size: 12px;
}
.location-direction li {
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
    margin-bottom: 35px;
}
.location-direction li:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 1px;
    background: #fff;
    content: "";
    opacity: .5;
}
.location-direction li:last-child:after {
    display: none;
}
#googleMap {
    margin-bottom: -110px;
    box-shadow: 0 0 7px #32394D;
}
.location-direction li:last-child {
    margin-bottom: 15px;
}