/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}

.section-padding {
    padding: 80px 0;
}
.section-title {
    margin-bottom: 50px;
    text-transform: uppercase;
}
.section-title h2 {
    font-weight: normal;
    text-align: center;
}

.testimonial-wraper {
    position: relative;
}
.testimonial-right-title {
    color: #ebebeb;
    text-transform: uppercase;
    font-size: 40px;
    position: absolute;
    z-index: 1;
    transform: rotate(270deg);
    bottom: 140px;
    left: -256px;
    width: 440px;
}
.testimonial-right-title:after {
    position: absolute;
    right: 0;
    text-align: ;
    top: 50%;
    height: 2px;
    width: 100%;
    background: #ebebeb;
    content: "";
}
.testimonial-right-title span {
    background: #fff;
    position: relative;
    z-index: 2;
    padding-right: 30px;
}

.testimonial-top img {
    width: 110px;
    margin-top: -29px;
}
.testimonial-top h3 {
    display: inline-block;
    text-align: left;
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}
.testimonial-top {
    text-align: center;
    margin-bottom: 40px;
    padding-top: 30px;
}
.testimonial-top h3 span {
    text-transform: none;
    font-size: 70%;
    opacity: .5;
    padding-top: 10px;
    display: inline-block;
}
.testimonial-content {
    color: #888;
    font-size: 15px;
    line-height: 1.8;
    text-align: center;
}
.single-testimonial-item {
    box-shadow: 0 0 10px #DFDFDF;
    padding: 45px 80px;
}
.testimonial-author img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: -17px;
}
.testimonial-author {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 250px;
    overflow-y: scroll;
}
.testimonial-author h3 {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 10px;
    max-width: 185px;
}
.testimonial-author h3 span {
    display: inline-block;
    opacity: .5;
    text-transform: none;
    font-size: 80%;
    padding-top: 7px;
}
.testimonial-author a {
    color: #333;
}
.testimonial-author li {
    padding-top: 15px;
    margin-bottom: 15px;
    opacity:.5;
}
.testimonial-author li.active{
    opacity:1;}
.ps > div.ps__scrollbar-y-rail{
    opacity:1;}