/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.section-absolut-bg {background-image: url(../img/01.jpg);}
.absolut-bg-2{background-image: url(../img/03.jpg);}
h3{
  font-size: 24px;
    text-transform: uppercase;
}
.section-padding {
  background-color: #222A33;
  color: #fff;
  line-height: 1.7;
  font-size: 13px;
  position: relative;
    z-index: 1;
    padding: 80px 0;
}
.bordered-btn {
	display: inline-block;
	border: 1px solid #ddd;
	color: #fff;
	padding: 7px 25px;
	text-transform: uppercase;
	margin-top: 20px;
}
.boxed-content {
	position: relative;
	padding-left: 40px;
    padding-right: 70px;
}
.arrow {
    position: absolute;
    content: "";
	width: 0;
	height: 0;
    top:0;
    right:-50px;  
	border-top: 20px solid transparent;
	border-left: 40px solid #222A33;
	border-bottom: 20px solid transparent;
    z-index: 2
}
.boxed-cont-2 {
	right: auto;
	left: -110px;
	transform: rotate(63deg);
}
.boxed-content::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	height: 100px;
	width: 1px;
	background: #DDDDDD;
}
.section-absolut-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: #333;
    z-index: 2;
}
.absolut-bg-2.section-absolut-bg {
  right: auto;
  left: 0;
}
.absolute-bg-legt .boxed-content {
  margin-left: 70px;
  padding-right: 0;
}
.section-absolut-bg::after {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	border: ;
	background: #000;
	z-index: -1;
	opacity: .5;
}