/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#333;
}
body {
	color:#828282;
	font-size:15px;
	line-height:1.7;
}
a:hover { text-decoration: none }

.section-title {
    margin-bottom: 60px;
    text-align: center;
}
.section-padding {
    padding: 80px 0;
}
.section-borders span {
    background: #6aaf08 none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    width: 50px;
}
.section-borders span.border-black {
    background: #333 none repeat scroll 0 0;
    margin: 0 10px;
    width: 30px;
}
.section-title h2 {
    font-size: 35px;
}
.client-testimonial-carolet .owl-dots {
    background: #6aaf08 none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin: 5px;
    transition: all 0.2s ease 0s;
    width: 20px;
}
.client-testimonial-carolet .owl-dots div.active {
    background: #333 none repeat scroll 0 0;
    width: 30px;
}
.single-testimonial-item {
    box-shadow: 0 0 2px #dadfd3;
    font-style: italic;
    margin: 2px;
    padding: 20px;
}
.single-testimonial-item:before{
	font-family:fontAwesome;
	content:"\f10e";
}
.single-testimonial-item h3 {
    font-size: 20px;
    font-style: normal;
}
.single-testimonial-item h2 span {
    display: block;
}
.single-testimonial-item span {
    color: #666;
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
}

.single-testimonial-item {
    padding-left: 95px;
    position: relative;
}
.single-testimonial-item::before {
    color: #6aaf08;
    font-size: 20px;
    left: 20px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
}
.single-testimonial-item::after {
    background: #f3f5f1 none repeat scroll 0 0;
    content: "";
    height: 75%;
    left: 60px;
    position: absolute;
    top: 15%;
    width: 1px;
}
.single-testimonial-item h3 {
    margin-bottom: 0;
}
