/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 300;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:15px;
	line-height:1.7;
}
a:hover { text-decoration: none }
.header-to-area{
	background:#218AE6;
	padding:10px 0;
}
.header-to-area, .header-to-area a{
	color:#fff;
}
.header-to-area .text-right .fa{
	padding-left:20px;
}
.header-area h3{
	font-weight:700;
	margin:24px 0;
}
.header-area h3 a{
	color:#333;
}
.header-area ul{
	margin:0;
	padding:0;
	list-style:none;
}
.header-area li{
	display:inline-block;
}
.header-area li a{
	color:#333;
	display:block;
	padding:25px;
	text-transform:uppercase;
	padding-right:0;
	padding-left:50px;
}
.header-area li a:hover{
	color:#218AE6;
}
.homepage-slides{
	background:#218AE6;
	color:#fff;
	font-size:17px;
}
.homepage-slides h2{
	font-size:50px;
	font-weight:100;
}
.slide-btn{
	background:#F9CF25;
	padding:12px 24px;
	display:inline-block;
	font-weight:400;
	font-size:12px;
	text-transform:uppercase;
	border-radius:2px;
	color:#333;
	margin-top:10px;
}
.single-homepage-slide{
	padding:150px 0;
}
.homepage-slides .owl-dots div{
	display:inline-block;
	width:10px;
	height:10px;
	border-radius:50%;
	background:#fff;
	margin:5px;
}
.homepage-slides .owl-dots{
	position:absolute;
	left:0;
	bottom:20px;
	width:100%;
	text-align:center;
}
.homepage-slides .owl-dots div.active{
	background:#F9CF25;
}