/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
body.theme-2{
    background: #6f8ca1;
    background: -moz-linear-gradient(45deg, #6f8ca1 1%, #6283a4 33%, #94727c 69%, #ac806f 100%);
    background: -webkit-linear-gradient(45deg, #6f8ca1 1%,#6283a4 33%,#94727c 69%,#ac806f 100%);
    background: linear-gradient(45deg, #6f8ca1 1%,#6283a4 33%,#94727c 69%,#ac806f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f8ca1', endColorstr='#ac806f',GradientType=1 );
}
body.theme-1{background-image: url(../img/01.jpg);background-size: cover; background-position: center;}

html, .theme-1 {
    height: 100%;
}
.site-wrape {
    height: 100%;
}
.site_wrape-table {
    display: table;
    height: 100%;
    width: 100%;
}
.site-wrape-tablecell {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.header-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 50px;
}
.footer-area {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #999;
    padding: 15px 50px;
}
h1, h2 {
    font-weight: 400;
}
.logo a {
    color: #000;
}
.mainmenu {
    font-size: 20px;
}
.mainmenu a {
    color: #000;
}
.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu li {
    display: inline-block;
    padding-left: 15px;
}
.hero-text {
    width: 50%;
    padding-left: 50px;
    color: #888;
    line-height: 1.8;
    font-size: 18px;
}
.hero-text h1 {
    color: #000;
    line-height: 1.3;
}
.hero-text a {
    color: #666;
    font-weight: 700;
}
.social-link a {
    color: #666;
    font-size: 25px;
    padding-left: 15px;
}
.copy-right-text {
    font-size: 16px;
    color: #666;
    margin: 0;
    padding-top: 10px;
}
.social-link a:hover {
    color: #000;
}
/*Theme 2*/
.theme-2 .site-wrape{background-image: url(../img/01.jpg);}

.theme-2 .header-area {
    position: relative;
}
.theme-2 .footer-area {
    position: relative;
    margin-top: 50px;
}
.theme-2 .site-wrape {
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    margin: 6%;
}
.theme-2 .hero-text{
    padding: 100px 50px;
}
body.theme-2{
    background-repeat: no-repeat;
}
