/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.fullwidth-bg-area{
    background-image: url(../img/02.png);
}

.section-padding {
  padding: 80px 0;
}
.fullwidth-bg-area {
  margin: 70px 0;
}
.margin-minus {
  margin-top: -70px;
  margin-bottom: -70px;
  padding: 120px 70px;
  font-size: 17px;
  line-height: 1.9;
}
.dark-bg {
  background: #2B2F41;
  color: #fff;
}
.bordered-btn {
  display: inline-block;
  color: #fff;
  border: 2px solid #C9A56F;
  padding: 10px 40px;
}
.margin-minus .bordered-btn {
  margin-top: 40px;
  margin-left: 20px;
}
.boxed-content h2 {
  font-size: 50px;
  font-weight: 700;
}
.author-name {
  font-family: roboto;
  font-size: 20px;
  position: relative;
  margin-top: 30px;
  padding-left: 45px;
}
.author-name span {
  font-weight: 300;
  font-size: 70%;
  opacity: 0.4;
}
.author-name:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 40px;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background: #fff;
}
.boxed-content {
  position: relative;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 30px;
}
.boxed-content:before {
  position: absolute;
  left: -40px;
  top: 0;
  width: 50px;
  height: 50px;
  content: "";
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}
.boxed-content:after {
  position: absolute;
  right: -70px;
  bottom: 0;
  width: 50px;
  height: 50px;
  content: "";
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}