/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#333;
}
body {
	color:#828282;
	font-size:15px;
	line-height:1.7;
}
a:hover { text-decoration: none }
.section-padding{
	padding:80px 0;
}
.section-title{
	margin-bottom:60px;
}
.section-title h2{
	position:relative;
	padding-bottom:5px;
}
.section-title h2:before{
	position:absolute;
	content:"";
	width:52px;
	height:4px;
	bottom:0;
	left:0;
	background:#ECECEC;
	border-radius:50px;
}
.section-title h2:after{
	position:absolute;
	content:"";
	width:43px;
	height:4px;
	bottom:0;
	left:0;
	background:#14ADF3;
	border-radius:50px;
}
.owl-carousel .owl-item .single-stuff-item img{
	max-width:162px;
	width:162px;
}

.staff-meta {
    color: #b7b7b7;
    font-size: 12px;
    margin-top: 20px;
}
.staff-meta h3 {
    font-size: 20px;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.stuff-list .owl-nav div{
	display:inline-block;
	text-align:center;
	font-size:20px;
	line-height:40px;
	width:50px;
	height:40px;
	background:#f3f3f3;
	margin-left:10px;
	transition:.3s;
}
.stuff-list .owl-nav div:hover{
	background:#14ADF3;
	color:#fff;
}
.stuff-list .owl-nav{
	position:absolute;
	right:0;
	top:-60px;
}
