/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}

.mainmenu-area ul {
    background: #25375B;
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu-area li {
    display: inline-block;
}
.mainmenu-area li a {
    color: #fff;
    display: block;
    text-transform: uppercase;
    padding: 15px;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}
/*
    Drop Down Menu
*/
.mainmenu-area li {
    position: relative;
}
.mainmenu-area li ul {
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 2;
    width: 200px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}
.mainmenu-area li ul li {
    display: block;
}
.mainmenu-area li ul li a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.mainmenu-area li:hover ul {
    opacity: 1;
    visibility: visible;
    top: 52px;
}
.mainmenu-area li:hover > a {
    background: #12CACA;
}
.mainmenu-area li > a {
    transition: .3s;
}
/*
    2nd Droup Down Menu
*/
.mainmenu-area li:hover ul ul{
    visibility: hidden;
    opacity: 0;
}
.mainmenu-area ul ul li ul{
    left: 200px;
}
.mainmenu-area ul ul li:hover > ul {
    top: 0;
    visibility: visible;
    opacity: 1;
}


.service-box-bg{background-image: url(../img/01.jpg);}
.service-box-bg-2{background-image: url(../img/02.jpg);}
.service-box-bg-3{background-image: url(../img/03.jpg);}

.section-padding {
    padding: 80px 0;
}
.section-title {
    text-align: center;
    margin-bottom: 50px;
}
.section-title h2 {
    font-weight: 400;
    text-transform: uppercase;
    color: #222;
}
.section-title h2 span {
    color: #1BC4C9;
}
body {
    font-size: 16px;
}
.section-title p {
    color: #999;
}
.service-box-bg {
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    height: 250px;
    position: relative;
    z-index: 1;
    border-radius: 5px 5px 0px 0px;
}
.service-box-bg i {
    height: 70px;
    width: 70px;
    background: #25375B;
    display: block;
    color: #fff;
    border: 4px solid #fff;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -35px;
}
.service-box-bg i:before {
    margin: 0;
    line-height: 60px;
    font-size: 30px;
    font-weight: bold;
}
.single-service-box {
    border: 1px solid #ebebeb;
    border-radius: 5px 5px 0px 0px;
}

.single-service-box h2 {
    margin: 0;
    text-align: center;
    padding: 20px;
    padding-top: 50px;
    color: #555454;
}
.single-service-box:hover .service-box-bg i {
    background: #12CACA;
    border-color: #25375B;
}
.single-service-box:hover.single-service-box h2 {
    background: #25375B;
    color: #fff;
}



.video-play-btn {
    background-size: 107%;
    display: block;
    background-position: center;
    height: 450px;
    background-color: #333;
    display: table;
    width: 100%;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
.video-play-btn:hover{
    background-size: 115%;
}
.video-overlay {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 50px;
    position: relative;
    z-index: 1;
    transform: scale(.7);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.video-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .5;
}
.video-play-btn:hover {
    color: #fff;
}
.boxed-plus {
    width: 30px;
    height: 30px;
    border: 2px solid;
    line-height: 26px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.video-overlay p {
    opacity: .5;
}
.video-overlay p.video-top-desc {
    opacity: 1;
}
.video-play-btn.mfp-iframe:hover .video-overlay {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.video-top-desc span {
    display: inline-block;
    position: relative;
}
.video-top-desc span:before {
    position: absolute;
    width: 50px;
    height: 3px;
    background: #fff;
    content: "";
    top: 50%;
    margin-top: -1.5px;
    left: -55px;
}
.video-top-desc span:after {
    position: absolute;
    width: 50px;
    height: 3px;
    background: #fff;
    content: "";
    top: 50%;
    margin-top: -1.5px;
    right: -55px;
}