/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.listing-bg-1{background: url(../img/01.jpg);}
.listing-bg-2{background: url(../img/02.jpg);}
.listing-bg-3{background: url(../img/03.jpg);}
.listing-bg-4{background: url(../img/04.jpg);}
.listing-bg-5{background: url(../img/05.jpg);}
.listing-bg-6{background: url(../img/06.jpg);}
.listing-bg-7{background: url(../img/07.jpg);}
.listing-bg-8{background: url(../img/08.jpg);}
.listing-bg-9{background: url(../img/09.jpg);}

.section-padding {
  padding: 80px 0;
}
.section-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 20px;
}
.section-title h2 {
  font-size: 40px;
}
.single-listing-box {
  position: relative;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-color: #000;
  border-radius: 5px;
}
.listing-hover {
  position: absolute;
  left: 10%;
  width: 80%;
  bottom: 30px;
  color: #ddd;
  z-index: 2;
  font-size: 16px;
}
.single-listing-box::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #000;
  opacity: .5;
  z-index: 1;
}
.listing-hover h3 {
  color: #fff;
  font-weight: 400;
  font-size: 25px;
}
.bordered-btn {
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 25px;
  display: inline-block;
  border-radius: 50px;
  margin-top: 10px;
}
.listing-carousel .owl-nav div {
  position: absolute;
  left: -90px;
  top: 50%;
  font-size: 90px;
  opacity: .5;
  line-height: 60px;
  margin-top: -60px;
  z-index: 9;
  color: #fff;  
}
.listing-carousel .owl-nav div.owl-next {
  left: auto;
  right: -90px;
}
.listing-carousel.owl-carousel .owl-stage-outer {
  overflow: inherit;
}
.section-padding.listing-carousel-wtaper {
  overflow-x: hidden;
}

.listing-carousel {
  position: relative;
}
.listing-carousel:before {
  position: absolute;
  left: -500%;
  top: 0;
  width: 500%;
  height: 100%;
  content: "";
  background: #fff;
  z-index: 1;
  opacity: .5;
}

.listing-carousel:after {
  position: absolute;
  right: -500%;
  top: 0;
  width: 500%;
  height: 100%;
  content: "";
  background: #fff;
  z-index: 1;
  opacity: .5;
}