/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Roboto:400,400i,500,500i,700,700i,900,900i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Droid Serif', serif;
}
body {
font-family: 'Roboto', sans-serif;
}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.testimonial-bg{background-image: url(../img/01.jpg);background-size: 100% 70%;background-repeat: no-repeat;background-position: center; }
.testimonial-bg{position: relative;}
.testimonial-bg:after{position: absolute; width: 100%; height: 100%;background: #000; content: "";left: 0;top: 0;opacity: .5}

.section-padding {
  padding: 100px 0;
}
.testimonial-bg {
  background-color: #333;
  color: #fff;
}
.user-avatar img {
  max-width: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
.user-avatar {
    padding-top: 50px;
}
.testiminoal-content {
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
}
.single-testimonial-item h4 {
  opacity: .7;
  margin-top: 30px;
  margin-bottom: 0;
}
.single-testimonial-item h4 span {
  display: block;
  font-size: 80%;
  margin-top: 8px;
  font-weight: 400;
}
.single-testimonial-item {
  text-align: center;
}
.testimonial-carousel.owl-carousel.owl-theme.owl-loaded {
}
.testimonial-carousel .owl-dots div {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: #2D4451;
  border-radius: 50%;
  margin: 5px;
}
.testimonial-carousel .owl-dots div.active {
  background: #fff;
}
.testimonial-carousel .owl-dots {
  text-align: center;
  margin-top: 50px;
}
.testimonial-carousel:before, .testimonial-carousel:after{
    font-family: fontawesome; 
    position: absolute;
    font-size: 30px;
}
.testimonial-carousel:before{
    content: "\f10d";
    left: -50px;
    top:140px;
}
.testimonial-carousel:after{
    content: "\f10e";
    right: -50px;
    bottom:170px;
}