/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}
body {
    font-family: 'Oswald', sans-serif;
}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}

.section-padding.dark-bg {
  background: #343434;
  color: #a5a5a5;
}
.tailer-text {
  font-size: 16px;
  line-height: 1.7;
  padding-top: 80px;  
}
.tailer-text h2 {
  font-size: 28px;
  color: #fff;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 400;
}

.bordered-btn {
  border: 2px solid #FF4F4C;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 15px;
  width: 150px;
  display: inline-block;
  margin-top: 30px;
}
.bordered-btn {
}
.bordered-btn i.fa {
  float: right;
  padding-top: 3px;
}
.section-padding {
  padding: 80px 0;
}
.trailor-info {
  position: relative;
  text-align: right;
}
.colored-pricing-box {
  position: absolute;
  right: 150px;
  background: #FF4F4C;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding-top: 50px;
  height: 320px;
}
.colored-pricing-box p {
  opacity: .5;
}
.colored-pricing-box p.price-text {
  color: #fff;
  opacity: 1;
  font-size: 40px;
}
.absolute-shopping-cart {
  position: absolute;
  left: -25px;
  top: 35px;
  width: 50px;
  height: 50px;
  background: #fff;
  line-height: 50px;
  font-size: 15px;
  color: #333;
  box-shadow: 0 0 10px #666;
}
.trailor-info img {
  overflow: ;
  position: relative;
  z-index: 1;
  padding-top: 120px;
}
div.owl-carousel .owl-item img{width: auto; display: inline-block;}
.featured-trailors-carousel .owl-dots div:nth-child(1) span:before{content: "01";}
.featured-trailors-carousel .owl-dots div:nth-child(2) span:before{content: "02";}
.featured-trailors-carousel .owl-dots div:nth-child(3) span:before{content: "03";}

.featured-trailors-carousel .owl-dots div {
  border-left: 2px solid #999;
  padding: 20px 15px;
}
.featured-trailors-carousel .owl-dots div.active {
  border-color: #FF4F4C;
}
.featured-trailors-carousel .owl-dots {
  position: absolute;
  right: -55px;
  top: 30%;
}