/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.section-bg-1{background-image: url(../img/01.jpg);}

.section-padding {
  position: relative;
  background-size: cover;
  background-position: center top;
  padding: 100px 0;
}

.price-boxes {
  box-shadow: 0 0 15px #011e5c;
  overflow: hidden;
}
.single-price-box {
  border-right: 1px solid #011e5c;
  width: 33.333333%;
  float: left;
}
.single-price-box:last-child {
  border: none;
}
.price-box-image {
  display: table;
  width: 100%;
  height: 180px;
}
.price-box-image img {
  max-width: 180px;
  max-height: 165px;
}
.price-box-img-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}
.price-box-inner {
  background: #fff;
  padding: 30px;
}
.price-box-inner h2 {
  color: #01309A;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}
.price-box-inner h2:before {
  position: absolute;
  width: 20px;
  height: 3px;
  background: #01309A;
  content: "";
  left: 50%;
  margin-left: -10px;
  bottom: -7px;
}

.price-content span {
  display: inline-block;
  position: relative;
  color: #C74718;
  font-weight: 800;
  font-size: 40px;
}
.price-content span:before {
  content: "$";
  font-size: 24px;
  position: absolute;
  left: -17px;
  top: 5px;
  font-weight: 300;
}
.price-content span:after {
  content: "/mo";
  font-size: 23px;
  font-weight: 300;
  margin-left: 5px;
}
.price-box-inner h3 {
  text-align: center;
  margin-left: 17px;
}
.price-box-inner ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  padding-left: 30px;
  line-height: 1.8;
  font-size: 15px;
  margin-bottom: 30px;
}
.boxed-btn {
  background: #337ab7;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  transition: .3s;
}
.boxed-btn:hover {
  background: #C74718;
  color: #fff;
}
.boxed-btn.active {
  background: #C74718;
}