@import url('https://fonts.googleapis.com/css?family=Changa+One|PT+Sans:400,400i');

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 900;
    font-family: 'Changa One', cursive;
}
body {
    font-family: 'Roboto', sans-serif;
}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.single-promo-box{background-image: url(../img/01.jpg);}
.promo-bg-2{background-image: url(../img/02.jpg);}
.promo-bg-3{background-image: url(../img/03.jpg);}

.section-padding {
  padding: 80px 0;
}
.single-promo-box {
  display: block;
  position: relative;
  height: 280px;
  background-size: cover;
  background-position: center;
  background-color: #333;
  color: #fff;
  transform: .3s;
}
.promo-content {
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding:25px;
}
.single-promo-box:hover {
	transform: scale(1.03);
	color: #fff;
	box-shadow: 0 0 10px #999;
}
.promo-content h2{
font-size: 45px;
    margin-bottom: 10px;

}
.scrollToTop{
	width:80px; 
	height:80px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	bottom:75px;
	right:0px;
	display:none;
	background: yellow;
}
.scrollToTop:hover{
	text-decoration:none;
}