/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
  
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
 
    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
     .welcome-area {
        height: auto;
    }
    .hero-area-table {
        display: block;
        height: auto;
    }
    .logo{
    margin-bottom: 20px;
    }
    .logo, .mainmenu {
	text-align: center;
}
    .copyright-area {
	position: relative;
}
    .copyright-area, .copyright-area ul {
	text-align: center;
}
    .copyright-area li {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 15px;
}
    .hero-text {
	padding-top: 150px;
	padding-bottom: 50px;
}
     
    
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 

}