/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
  font-family: 'Lato', sans-serif;
}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.welcome-area{background-image: url(../img/bg1.jpg);}

html, body {
  height: 100%;
}
.welcome-area {
  height: 100%;
  position: relative;
  z-index: 1;
    background-size: cover;
    background-position: center;
    background-color: #333;
}
.welcome-area:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #fff;
  z-index: -1;
  opacity: .7;
}
.logo img {
  max-width: 40px;
  padding-right: 5px;
}
.logo a {
  color: #EE4245;
}
.logo h1 {
  font-size: 20px;
  font-weight: 900;
  margin: 0;
}
.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mainmenu li {
  display: inline-block;
  position: relative;
}
.mainmenu li a {
  padding: 10px 25px;
  color: #333;
  display: block;
  border-radius: 50px;
}
.mainmenu li.bordered a {
  color: #F64043;
  border: 1px solid;
}
.logo {
  margin-top: 2px;
}
.header-area {
  padding: 15px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}
.copyright-area {
  background-color: #3f3e3c;
  font-size: 85%;
  padding: 10px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9;
}
.copyright-area, .copyright-area a {
  color: #999;
}
.copyright-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.copyright-area li {
  display: inline-block;
  padding-left: 30px;
}
.hero-area-table {
  display: table;
  height: 100%;
  width: 100%;
}
.hero-area-tablecell {
  display: table-cell;
  vertical-align: middle;
}
.hero-text {
  font-weight: 300;
  font-size: 20px;
}
.hero-text h1 {
  font-size: 50px;
  font-weight: 800;
}
.email-subscribe-form {
  margin-top: 50px;
  font-size: 14px;
  max-width: 500px;
}
.email-subscribe-form input[type="email"] {
  padding: 14px;
  border: none;
  background: #fff;
  font-weight: 400;
  width: 58%;
  margin-right: 2%;
  border-radius: 5px;
}
button[type="submit"] {
  background: #EF4043;
  border: none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 20px;
  border-radius: 5px;
}
.social-icons a {
  color: #333;
  font-size: 20px;
  margin-top: 10px;
  padding-right: 10px;
  display: inline-block;
}