/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.single-slide-item{background-image: url(../img/02.png);}

.single-slide-item {
  background-position: center;
  background-size: cover;
  background-color: #ddd;
  height: 650px;
  margin-bottom: 200px;
    position: relative;
}
.slide-text-area {
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.slide-text {
  background-color: rgba(22,124,197,0.5);
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 150px;
  font-size: 20px;
  line-height: 1.9;
    position: relative;
}
.slide-text h2 {
  font-size: 50px;
  font-family: roboto;
}
.slide-text p {
	margin-bottom: 50px;
}
.boxed-btn {
  background-color: #333;
  color: #fff;
  padding: 15px 30px;
  text-transform: uppercase;
}
.slide-text::before {
	position: absolute;
	content: "";
	width: 1000%;
	height: 100%;
	background-color: rgba(22,124,197,0.5);
	left: -1000%;
	top: 0;
}
.slide-text::after {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	border: ;
	background-color: rgba(22,124,197,0.5);
	right: -10px;
	top: 75px;
	transform: rotate(45deg);
}