/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.section-padding{
    padding: 80px 0;
}
.single-boxed-item{
    background: url(../img/01.jpg);
}
.box-bg-1{background: url(../img/02.jpg);}
.box-bg-2{background: url(../img/03.jpg);}
.box-bg-3{background: url(../img/04.jpg);}
.box-bg-4{background: url(../img/05.jpg);}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 16px;
}
.row.nopadding .col-md-4 {
  padding: 0;
}
.row.nopadding {
  margin: 0;
}
.single-boxed-item {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  position: relative;
}
.single-boxed-item.half-size {
  height: 300px;
}
.boxed-item-hover {
  position: absolute;
  z-index: 1;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.boxed-item-hover:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #000;
  z-index: -1;
  opacity: .7;
}
.boxed-item-table {
  display: table;
  width: 100%;
  height: 100%;
}
.boxed-item-tablecell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}
.single-boxed-item:hover .boxed-item-hover {
  opacity: 1;
  visibility: visible;
}