/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
h3{
	color:#333;
}
body {
	color:#9c9c9c;
}
a:hover { text-decoration: none }
.video-area-bg{
	background:url(../img/02.jpg);
	background-color:#ddd;
	background-position:center;
	background-size:cover;
}
.check-icon li:before{
	font-family:fontAwesom;
	content:"\f00c"
}

.video-area {
    position: relative;
}
.video-area-bg {
    box-shadow: 0 0 10px #999;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 45%;
}
.video-play-btn {
    background: #139361 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 40px;
    height: 100px;
    line-height: 99px;
    margin-top: -60px;
    padding-left: 10px;
    position: absolute;
    right: -50px;
    text-align: center;
    top: 50%;
    width: 100px;
}
ul.check-icon {
    color: #666;
    font-size: 17px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.check-icon li {
    position: relative;
	padding-left:40px;
	padding-bottom:10px;
}
.check-icon:before {
    color: #139361;
    left: 0;
    position: absolute;
    top: 2px;
}