.a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-linear-gradient(red, green);
  background: linear-gradient(red, green);
}
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#333
}
body {

}
a:hover { text-decoration: none }
.section-padding{
	padding:80px 0;
}
.section-title {
    text-align: center;
	margin-bottom: 50px;
}
.section-title h2 span {
    color: #26A65B;
}
.single-pricing-box {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
	-webkit-transition: .2s;
	transition:.2s;
}
.single-pricing-box:hover{
	border-color:#26A65B;
	box-shadow:0 0 50px #f1f1f1;
}
.single-pricing-box h3 {
    text-transform: uppercase;
}
.prising-icon {
    font-size: 30px;
    margin-bottom: 20px;
	-webkit-transition: .3s;
	transition:.3s;
}
.prising-list {
    text-align: left;
    margin-bottom: 23px;
}
.prising-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
	padding-left:16px;
	line-height:26px;
}
.prising-list ul li{
	-webkit-transition: .2s;
	transition:.2s;
}
.prising-list ul li:before{
	font-family:fontAwesome;
	content:"\f00c";
	color:#26A65B;
	padding-right:10px;
}
.prising-list ul li.off:before{
	content:"\f00d";
	color:#EF3939;
}
.single-pricing-box h3.prising-count {
    text-transform: none;
}
.prising-icon img {
    width: 38px;
	-webkit-transition: .3s;
	transition:.3s;
}
.borderes-btn {
    display: inline-block;
    border: 1px solid #239A55;
    padding: 10px 30px;
    border-radius: 50px;
    color: #333;
	-webkit-transition: .3s;
	transition:.3s;
}
a.borderes-btn:hover{
	background:#26A65B;
	color:#fff;
}
.single-pricing-box:hover .prising-icon{
	color:#26A65B;
}
.single-pricing-box:hover .prising-icon img{
	opacity:.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.prising-list ul li:hover{
	padding-left:5px;
}