/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	color:#222;
}
h2 {
    color: #222;
    font-size: 32px;
}
body {
	font-family: 'Open Sans', sans-serif;
}
a:hover { text-decoration: none }
.blog-box-bg-1{
	background:url(../img/01.jpg);
}
.blog-box-bg-2{
	background:url(../img/02.jpg);
}
.blog-box-bg-3{
	background:url(../img/03.jpg);
}

.section-title {
    color: #565656;
    font-size: 17px;
    margin-bottom: 70px;
    text-align: center;
}
.section-title h2{
	position:relative;
}
.section-title h2:after{
	position:absolute;
	width:20px;
	height:3px;
	background:#000;
	content: "";
	bottom:-5px;
	left:50%;
	margin-left:-10px;
}
.section-title h2:before{
	position:absolute;
	bottom:-5px;
	left:50%;
	margin-left:-30px;
	width:60px;
	height:3px;
	background:#ff8f17;
	 content: "";
}

section.section-blog {
    padding: 100px 0;
}

.blog-box-bg {
    background-position: center center;
    background-size: cover;
    border: 1px solid #ff8f17;
    height: 200px;
}
.blog-box-bg {
    border-bottom: 0 solid;
}
.blog-box-content {
    border: 1px solid #f4f4f4;
    padding: 20px;
	transition:.2s;
}
.blog-meta i.fa {
    color: #ff8f17;
}
.blog-meta a {
    color: #565656;
}
.blog-meta {
    font-size: 14px;
}
.blog-meta span{
   margin-right:10px;
}
.blog-meta:last-child{
   margin-right:0px;
}

.blog-box-content h3 {
    font-size: 20px;
    margin-top: 15px;
}
.blog-read-more-btn {
    background: #ff8f17 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
}
.blog-read-more-btn:hover {
    background: #333 none repeat scroll 0 0;
    color: #fff;
}
.single-blog-box:hover .blog-box-content {
    border-color: #ff8f17;
}
