/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}

.pricing-tables {
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.single-pricing-box {
  width: 33.33333%;
  float: left;
  box-shadow: 0 0 10px #f3f3f3;
  position: relative;
  z-index: 1;
  background: #fff;
}
body {
  color: #737678;
  font-size: 17px;
  line-height: 1.7;
}
.pricing-heading {
  background: #f9f9f9;
  color: #898888;
  font-size: 17px;
  padding: 40px;
}
.pricing-heading h4 {
  color: #888;
  font-size: 30px;
  font-weight: 400;
}
.pricing-heading h1 {
  color: #333;
  font-size: 50px;
  font-weight: 400;
}
.single-pricing-box {
  font-size: 17px;
}
.pricing-content {
  padding: 60px;
}
.pricing-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 35px;
}
.pricing-btn {
  border: 1px solid #FC103C;
  color: #FC103C;
  font-weight: 600;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 50px;
  margin-top: 30px;
}
.active .pricing-heading {
  background: #FC103C;
  color: #fff;
  margin-top: -30px;
}
.active .pricing-heading h4, .active .pricing-heading h1 {
  color: #fff;
}
.section-padding {
  padding: 100px 0;
}
.single-pricing-box.active {
  z-index: 2;
  position: relative;
  margin-left: -.5%;
  margin-right: -.5%;
  width: 34.33333%;
}

.active .pricing-content {
  padding: 90px 60px;
}
.pricing-content {
}
.active a.pricing-btn {
  color: #fff;
  background: #FC103C;
}
.single-pricing-box.active {
  overflow: hidden;
  margin-top: -30px;
}
.active.single-pricing-box::after {
  content: "Premium";
  top: 25px;
  right: -34px;
  position: absolute;
  transform: rotate(45deg);
  background: #fff;
  color: #FC103C;
  padding: 5px 50px;
  font-size: 14px;
  margin-top: ;
}