/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i|Montserrat:400,700');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    font-family: 'Droid Serif', serif;
}
body {
    font-family: 'Montserrat', sans-serif;
}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
/*
.section-padding {
  padding: 80px 0;
}
.section-title {
  text-transform: uppercase;
  margin-bottom: 90px;
}
.single-product-box {
  background: #F0F0F0;
  height: 320px;
  display: table;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.product-image-wrape {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 40px;
}
.single-product-box h4 {
  font-family: roboto;
  color: #6B6B6A;
  font-size: 20px;
}
.product-rice {
  font-size: 50px;
  color: #F65C4F;
  font-weight: 700;
}
*/

.section-padding {
  padding: 80px 0;
}
.section-title {
  text-transform: uppercase;
  margin-bottom: 90px;
}
.product-image-wrape {
  background: #F1F1F1;
  display: table;
  width: 100%;
  height: 320px;
  padding: 20px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  transition: .3s;
}
.product-image-wrape-tablecell {
  display: table-cell;
  vertical-align: middle;
}
.single-product-box h4 {
  font-family: Droid Serif;
  font-size: 20px;
  color: #707070;
  margin-bottom: 10px;
}
.product-rice {
  font-size: 35px;
  font-family: Montserrat;
  font-weight: 700;
  color: #D3504C;
}
.single-product-box {
  text-align: center;
  margin-top: 50px;
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}
.single-product-box:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #333;
  z-index: -1;
  transition: .3s;
  opacity: 0;
}
.product-hover-links {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  text-align: left;
  padding: 0 20px;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
}
.product-hover-links a {
  display: inline-block;
  color: #676767;
  width: 30px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  line-height: 44px;
}
.product-hover-links a.bordered-link {
  border: 2px solid #C15048;
  width: 50px;
}

.single-product-box:hover:after {
  top: -10%;
  height: 120%;
  opacity: 1;
}
.single-product-box:hover .product-image-wrape {
  background: none;
}
.single-product-box:hover .product-hover-links {
  top: -10px;
  opacity: 1;
  visibility: visible;
}
.single-product-box:hover .product-image-wrape{
  background: url(../img/05.png) no-repeat scroll center top #333;
  background-size: cover;
}