/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}

.footer-area {
  background: #14ADF3;
  padding: 80px 0;
}
.footer-area, .footer-area a {
  color: #fff;
}
.footer-wid h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.social-links a {
  font-size: 20px;
  padding-right: 20px;
  display: inline-block;
  margin-top: 14px;
}
.footer-wid ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-info {
  position: relative;
  padding-left: 30px;
}
.contact-info i.fa {
  position: absolute;
  left: 0;
  top: 3px;
}

.footer-subscribtion-from h4 {
  text-transform: uppercase;
}
.footer-subscribtion-from input[type="email"] {
  border: none;
  padding: 10px;
  color: #000;
  width: 73%;
}
.footer-subscribtion-from input[type="submit"] {
  color: #14ADF3;
  border: ;
  background: #fff;
  border: none;
  padding: 10px;
  width: 25%;
  text-transform: uppercase;
  font-weight: 700;
}
.footer-subscribtion-from p {
  font-size: 90%;
}
.footer-subscribtion-from form {
  margin-bottom: 10px;
}
.copyright-area, .copyright-area a {
  color: #b5b5b5;
  text-decoration: none;
}
.copyright-area ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.copyright-area li {
  display: inline-block;
}
.copyright-area li:after {
  content: "|";
  padding-left: 10px;
  padding-right: 7px;
}
.copyright-area li:last-child:after {
  display: none;
}
.copyright-area {
  padding: 25px 0;
}