/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

section.section-padding {
    padding: 80px 0;
}
.section-title {
    margin-bottom: 60px;
    text-align: center;
}
.section-title h2 {
    margin-bottom: 25px;
    padding-bottom: 17px;
    position: relative;
    z-index: 1;
}
.section-title h2::before {
    background: #feda74 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 5px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    width: 60px;
}
h2 {
}
.section-title h2::after {
    background: #fd7975 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 5px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 20px;
}
.single-service-icon {
    color: #333;
    display: block;
    margin-bottom: 30px;
    min-height: 250px;
    text-align: center;
}
.single-service-icon h3 {
    font-size: 22px;
    margin: 20px 0;
}
.service-icon-container {
    color: #ffd672;
    display: table;
    font-size: 65px;
    height: 80px;
    width: 100%;
}
.service-icon-container {
}
.service-icon-tablecell {
    display: table-cell;
}
