/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.section-padding{padding: 80px 0;}
.project-bg-1{background-image: url(../img/01.jpg);}
.project-bg-2{background-image: url(../img/02.jpg);}
.project-bg-3{background-image: url(../img/03.jpg);}
.project-bg-4{background-image: url(../img/04.jpg);}
.project-bg-5{background-image: url(../img/05.jpg);}
.project-bg-6{background-image: url(../img/06.jpg);}
.project-bg-7{background-image: url(../img/07.jpg);}
.project-bg-8{background-image: url(../img/08.jpg);}
.project-bg-9{background-image: url(../img/09.jpg);}


.project-filter {
    margin: 0 0 50px;
    list-style: none;
    padding: 0;
    text-align: center;
}
.project-filter li {
    display: inline-block;
    font-weight: 700;
    color: #777;
    margin: 0 10px;
    border-bottom: 3px solid#fff;
    cursor: pointer;
}
.project-filter li.active {
    border-color: #333;
}


.single-project-item {
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    height: 280px;
    margin-bottom: 30px;
    display: table;
    width: 100%;
    position: relative;
    z-index: 1;
}
.project-hover {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 30px;
    position: relative;
    z-index: 1;
    transition: .3s;
    text-transform: lowercase;
    font-weight: 300;
    transform: scale(.8);
    opacity:0;
    visibility: hiddne;
}
.project-hover:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: "";
    z-index: -1;
    opacity: .7;
}
.project-hover h2 {
    font-size: 29px;
    font-weight: 700;
    line-height: 30px;
}
.project-hover p:last-child {
    margin: 0;
}
.single-project-item:hover .project-hover{
    transform: scale(1);
    opacity:1;
    visibility: vesible;
}
.single-project-item:before {
    position: absolute;
    right: 0;
    top: 0;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    content: "";
    z-index: 2;
}

.single-project-item:after {
    position: absolute;
    left:  0;
    bottom: 0;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    content: "";
    z-index: 2;
}
.single-project-item:before, .single-project-item:after{
    transition: 1s;
    opacity:0;
    visibility:hiddne;
    width: 0px;
    height: 0px;
}
.single-project-item:hover:before, .single-project-item:hover:after{
    opacity: 1;
    visibility: vesible;
    width: 100px;
    height: 100px;
}