/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
    font-family: 'Open Sans', sans-serif;
}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}
.gradient-overlay-wrapper{background-image: url(../img/bg.jpg);}
.gradient-overlay-wrapper:after{
    background: #2833c9;
    background: -moz-linear-gradient(-45deg, #2833c9 1%, #8b2ad6 48%, #d88aad 100%);
    background: -webkit-linear-gradient(-45deg, #2833c9 1%,#8b2ad6 48%,#d88aad 100%);
    background: linear-gradient(135deg, #2833c9 1%,#8b2ad6 48%,#d88aad 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2833c9', endColorstr='#d88aad',GradientType=1 );
}

.gradient-overlay-wrapper {
  position: relative;
  z-index: 1;
}
.gradient-overlay-wrapper:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  opacity: .9;
}

.loro img {
  max-width: 160px;
  max-height: 100px;
}
.main-menu ul {
  margin: 0;
  padding: 0;
  text-decoration: ;
  list-style: none;
  text-align: right;
}
.main-menu li {
  display: inline-block;
}
.main-menu li a {
  color: #fff;
  opacity: .5;
  display: block;
  padding: 25px;
  font-size: 16px;
}
.main-menu li:hover a {
  opacity: 1;
}
.header-area {
  position: relative;
  z-index: 1;
  padding: 20px 0;
}
.header-area:after {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 90%;
  height: 1px;
  background: #fff;
  content: "";
  opacity: .2;
}
.mobile-screen {
  position: absolute;
  right: 0;
  width: 40%;
  bottom: 0;
}
.hero-text {
  max-width: 400px;
  color: #fff;
  font-size: 17px;
  padding-top: 170px;
  padding-bottom: 100px;
}
.hero-text h1 {
  font-size: 45px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 35px;
}
.hero-text p {
  opacity: .6;
}
.hero-buttons {
  margin-top: 50px;
}
.bordered-btn {
  border: 1px solid #fff;
}
.underlone-btn {
  text-decoration: underline;
}
.hero-buttons a {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 14px 30px;
  border-radius: 50px;
  letter-spacing: 1px;
  display: inline-block;
}