/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
  color: #878787;
}
a:focus, input:focus,textarea:focus, button:focus{
    outline:0 solid;
}

.section-padding {
  padding: 80px 0;
}

h1 {
  color: #313131;
}
.bigger-test {
  font-size: 18px;
  line-height: 1.8;
  text-align: center;
  padding: 0 70px;
}
.bigger-test h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 50px;
}
.boxed-btn {
  background: #454BED;
  color: #fff;
  padding: 10px 40px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}
.bigger-test .boxed-btn {
  margin-top: 30px;
}
.shadow-gallery {
  position: relative;
}
.shadow-gallery img:nth-child(2), .shadow-gallery img:nth-child(3) {
  position: absolute;
  right: 0;
  bottom: 0;
}
.shadow-gallery img {
  position: relative;
  z-index: 1;
  width: 55%;
    max-height: 500px;
  box-shadow: 0 0 50px #bebec1;
}
.shadow-gallery img:nth-child(3) {
  z-index: 3;
  width: 80%;
  right: auto;
  left: -50px;
  bottom: -80px;
}
.shadow-gallery img:nth-child(2) {
  z-index: 2;
}
img {
}
.shadow-gallery img:nth-child(1) {
  top: -50px;
}