/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section-padding {
  padding: 80px 0;
}
.section-heading {
  text-align: center;
  margin-bottom: 70px;
}
.single-service-box {
  border: 1px solid #ebebeb;
  text-align: center;
  padding-bottom: 30px;
}
.service-bx-bg {
  border: ;
  background: #ddd;
  height: 200px;
  position: relative;
}
.service-bx-bg h2 {
  background: #E25539;
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  padding: 15px;
  position: absolute;
  left: 10%;
  width: 80%;
  margin-bottom: 0;
  bottom: -25px;
}
.service-box-content {
  padding: 35px;
  padding-top: 50px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  padding-bottom: 20px;
}
.service-box-content p:last-child {
  margin: 0;
}
.service-readmore{
  color: #333;
  font-size: 17px;
  font-weight: 700;
}